body {
  margin: 0;
  background-color: #b1f7fa;
  font-family: sans;
  }.side{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #5be8f5;
  position: fixed;
  height: 100%;
  overflow: auto;
  border-right: 2px solid  #01558a;
}.side li a {
  display: block ;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}.active {
  background-color: #01558a;
  cursor:context-menu;
}li a:hover:not(.active) {
  background-color: #01558a;
  color: white;
  cursor:context-menu;
}p{
  font-family: sans-serif;
  text-align: center;
  padding-left: 35%;
  padding-right: 10%;

}

